.users-container {
  padding: 2.8em 0;
  div {
    text-align: center;
    img {
      width: 65px;
    }
  }

}

.btn-next {
  position: fixed;
  bottom: 0;
  border-radius: 0;
  padding: 10px;
  color: #ffffff;
  width: 100%;
  background: black;
}

.random {
  border: 2px solid black;
  padding: 1.5em 0.5em;
  text-align: center;
  margin: 0.8em;
  border-radius: 14px;
}
.letter {
  display: block;
  font-size: 4em;
  padding: 1em;
}

