<div fxLayout="row" class="users-container">
  <div>
    <img src="assets/social-media.svg">
    user
  </div>
  <div>
    <img src="assets/social-media.svg">
    user
  </div>
  <div>
    <img src="assets/social-media.svg">
    user
  </div>
  <div>
    <img src="assets/social-media.svg">
    user
  </div>
  <div>
    <img src="assets/social-media.svg">
    user
  </div>
</div>
<div class="letter-container">
  <div class="random">
    <span class="letter">L</span>
  </div>
</div>
<button mat-button class="btn-next" [routerLink]="'/game'">Next</button>
