<div fxLayout="column" fxLayoutAlign="center center">
  <form fxLayout="column">
      <div class="avantar-container">
        Avatar
      </div>
      <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Ex. Esperanzita">
        </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. espehope@example.com">
      </mat-form-field>
    </form>
    <button mat-button>Join</button>
    <button mat-button>Create</button>
</div>

